.button {
  border: 3px solid black;
  margin-bottom: 10px;
  cursor: pointer;
}

body {
	background-color: green;
}

h2 {
  text-align: center;
  color: blue;
}

p {
	text-color: red;
}
